<div class="page-wrap">

  <div class="header">
    <div class="title"></div>
    <div class="chef"></div>
    <div class="head-wrap"></div>
  </div>

  <div class="burger-top"></div>
  <div class="burger-bottom"></div>

  <div class="content-wrap">

    <ul class="order-panel">
      <h1 class="panel-title">Order Up</h1>
      {{#each burgers}}
        {{#unless this.devoured}}
          <li class="names-devour">
            {{this.burger_name}}
          </li>
          
          <li>  
            <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devoured" value="true">
              <button class="devour" type="submit">Devour!</button>
            </form>

          </li>
        {{/unless}}
      {{/each}}
    </ul>

    <ul class="order-panel">
      <h1 class="panel-title">Burgers Eaten</h1>
      {{#each burgers}}
        {{#if this.devoured}} 
          <li class="eaten">
            {{this.burger_name}}  
          </li>

          <!-- <li>  
            <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devoured" value="false">
              <button class="eaten" type="submit">Undevour?</button>
            </form>

          </li> -->
        {{/if}}
      {{/each}}
    </ul>

  </div>

  <div class="footer">
    <form class="create-update-form add-form" action="burgers/create" method="POST">

      <div class="form-group">
        <input type="text" id="burger_name" class="add-burger" name="burger_name" placeholder=" Add a New Burger">
        <button class="add-burger-btn" type="submit">Add Burger</button>
      </div>

    </form>
  </div>

</div>
